<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /Intelligent-Identification-Toolkit/
RewriteRule ^([^/.]+)/{0,1}$  script.php?product=$1 [QSA,L]
# format localhost/productname
# with localhost/product/productname RewriteRule ^([^/.]+)/{0,1}$  script.php?product=$1 [QSA,L]
</IfModule>


